.navigation{
  top: 150px;
  transform: translate(0,0);
  .balance-block{
    margin-bottom: 20px;
    max-width: 178px;
    width: 100%;
    background-color: #151023;
    padding: 20px;
  }
}
@media (min-width: 1400px) {
  .navigation{
    .navigation-without-full{
      display: block;
    }
  }
}