<header class="header" id="header">
  <div class="container">
    <div class="all-head">
      <div class="left-part">
        <a href="index.html#header" class="logo">
          <img src="img/front.png" alt="" class="mob">
          <img src="img/logo.png" alt="" class="desc">
        </a>
        <div class="change-language">
          <img src="img/arr-lang.png" alt="">
          <p class="showText">EN</p>
          <div class="all-hidd">
            <p class="hiddenText">EN</p>
            <p class="hiddenText">RU</p>
            <p class="hiddenText">de</p>
            <p class="hiddenText">zh</p>  
          </div>        
        </div>
      </div>
      <div class="right-part">
        <div class="registration open-log">
          <img src="img/user.png" alt="">
          <p>Log in</p>
        </div>
        <span>or</span>
        <a href="javascript:void(0)" class="red-button-head open-reg">Sign UP</a>
      </div>
      <div class="burg-menu">
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav>
          <div class="right-part">
            <div class="registration  open-log not-personal">
              <img src="img/user.png" alt="">
              <p>Log in</p>
            </div>
            <span class=" not-personal">or</span>
            <a href="javascript:void(0)" class="red-button-head open-reg  not-personal">Sign UP</a>
          </div>
          <ul class="mob-nav-ul not-personal">
            <li><a href="index.html#top-banner">Home</a></li>
            <li><a href="index.html#about">About</a></li>
            <li><a href="index.html#plan">Plans & pricing</a></li>
            <li><a href="index.html#aff">Affilatiates</a></li>
            <li><a href="index.html#new">News</a></li>
            <li><a href="FAQ.html">FAQ</a></li>
            <li><a href="index.html#contact">Contact us</a></li>
          </ul>
          <ul class="personal-nav" >
            <div>
              <li class="active"><a href="index.html#top" >Account</a></li>
              <li><a href="index.html#about">Invest</a></li>
              <li><a href="index.html#plan">Finance</a></li>
              <li><a href="index.html#aff">Withdraw</a></li>
              <li><a href="index.html#new">Partners</a></li>
              <li><a href="index.html#FAQ">Transactions</a></li>
            </div>
          </ul>
          <div class="social">
            <p><a href=""><i class="icon-facebook"></i></a></p>
            <p><a href=""><i class="icon-youtube"></i></a></p>
            <p><a href=""><i class="icon-telegram"></i></a></p>
            <p><a href=""><i class="icon-twitter"></i></a></p>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>