<div class="navigation">
  
  <ul class="navigation-without-full" >
    <div id="navigation-without-full">
      <li class="active"><a href="index.html#top" >Home</a></li>
      <li><a href="index.html#about">About</a></li>
      <li><a href="index.html#plan">Plans & pricing</a></li>
      <li><a href="index.html#aff">Affilatiates</a></li>
      <li><a href="index.html#new">News</a></li>
      <li><a href="index.html#FAQ">FAQ</a></li>
      <li><a href="index.html#contact">Contact us</a></li>
    </div>
  </ul>

  <ul id="navigation">
    <li class="active" data-menuanchor='Home'><a href="index.html#Home">Home</a></li>
    <li data-menuanchor='About_Us'><a href="index.html#About_Us">About</a></li>
    <li data-menuanchor="Plans_And_Priciing"><a href="index.html#Plans_And_Priciing">Plans & pricing</a></li>
    <li data-menuanchor="Affilates"><a href="index.html#Affilates">Affilatiates</a></li>
    <li data-menuanchor="News"><a href="index.html#News">News</a></li>
    <li data-menuanchor="FAQ-anch"><a href="index.html#FAQ-anch">FAQ</a></li>
    <li data-menuanchor="Contact_Us"><a href="index.html#Contact_Us">Contact us</a></li>
  </ul>
  <div class="links">
    <p><a href="Terms-Conditions.html">Terms and Conditions</a></p>
    <p><a href="Privacy-Policy.html">Privacy Policy</a></p>
  </div>
</div>