<div class="navigation">
  
  <div class="balance-block">
    <div class="show-block">
      
    </div>
  </div>

  <ul class="navigation-without-full" >
    <div id="navigation-without-full">
      <li class="active"><a href="index.html#top" >Account</a></li>
      <li><a href="index.html#about">Invest</a></li>
      <li><a href="index.html#plan">Finance</a></li>
      <li><a href="index.html#aff">Withdraw</a></li>
      <li><a href="index.html#new">Partners</a></li>
      <li><a href="index.html#FAQ">Transactions</a></li>
    </div>
  </ul>

</div>