<div class="navigation">
  
  <ul class="navigation-without-full" >
    <div id="navigation-without-full">
      <li class="active"><a href="index.html#top" >Home</a></li>
      <li><a href="index.html#about">About</a></li>
      <li><a href="index.html#plan">Plans & pricing</a></li>
      <li><a href="index.html#aff">Affilatiates</a></li>
      <li><a href="index.html#new">News</a></li>
      <li><a href="index.html#FAQ">FAQ</a></li>
      <li><a href="index.html#contact">Contact us</a></li>
    </div>
  </ul>
  <div class="links">
    <p><a href="Terms-Conditions.html">Terms and Conditions</a></p>
    <p><a href="Privacy-Policy.html">Privacy Policy</a></p>
  </div>
</div>