<div class="navigation">
  
  <div class="balance-block">
    <div class="show-block">
      <img src="img/arr5.png" alt="" class="arr-img">
      <span>My balance:</span>
      <p>
        <strong>$ 1 568.33</strong>
        <span>+$ 33.00</span>
      </p>
    </div>
  </div>

  <ul class="navigation-without-full" >
    <div id="navigation-without-full">
      <li class="active"><a href="index.html#top" >Account</a></li>
      <li><a href="index.html#about">Invest</a></li>
      <li><a href="index.html#plan">Finance</a></li>
      <li><a href="index.html#aff">Withdraw</a></li>
      <li><a href="index.html#new">Partners</a></li>
      <li><a href="index.html#FAQ">Transactions</a></li>
    </div>
  </ul>

  <article class="latest-news">
    <h5>Latest news</h5>
    <div class="one-news">
      <a href="main-news.html">Bitcoin Investors Pocketed 42% in Gains During the Second Quarter of 2020</a>
      <span class="data">Jan 30, 2020  |  News</span>
    </div>
    <div class="one-news">
      <a href="main-news.html">Bitcoin Investors Pocketed 42% in Gains During the Second Quarter of 2020 </a>
      <span class="data">Jan 30, 2020  |  News</span>
    </div>
    <div class="one-news">
      <a href="main-news.html">Bitcoin Investors Pocketed 42% in Gains During the Second Quarter of 2020 </a>
      <span class="data">Jan 30, 2020  |  News</span>
    </div>
    <a href="index.html#news" class="but-link">All news</a>
  </article>
</div>